@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #FFD479;
  --color-text: #6B4E37;
  --color-bg: #FFF8F3;
}

html, body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
